*{
  margin: 0;
  padding: 0;
}

.banner{
  display: grid;
  grid-template-columns: 450px;
  grid-template: max-content;
  justify-content: center;
  margin-left: 50px;
}

.avisos{
  align-items: center;
}

.form{
  margin-left: 90px;
}

.form.input{
  
}

.formulario{
  display: inline-flex;
  flex: wrap;
  flex-direction: column;
  flex-grow: 30px;
}

.botao{
  margin-top: 15px;
  margin-bottom: 25px;
  border-color: 10px rgb(241, 3, 3);
}

.input{
  box-shadow: 10 10 10 10px;
}
