<%- include('./partials/header') %>



    <main class="container">
        <section class="banner">
            <div>
                <p>CONTATO</p>
            </div>
        </section>
        <section class="sobre">
            <div>
                <div class="text">
                    <h3>Fale Conosco</h3>
                    <p>Nessa página de contato estão disponíveis formulários para envio 
                        de sugestões, críticas, elogios e as perguntas frequentes. Caso
                        não consiga encontrar o que procurar, por favor preencha o 
                        formulário no final da página que entraremos em contato  para
                        lhe auxiliar no for possível.
                    </p>
                </div>
            </div>
        </section>
        <section class="servicos">
            <div>
                <!-- <h2>Contato</h2> -->
                <div class="items">
                    <article>
                        <h1>Meu Home Office</h1>
                        <p>
                            Avenida Presidente Carlos, 1164 - Centro, São Paulo
                        </p>
                        <p>
                            Telefone: (11) 55351-4545
                            Telefone Fixo: (11) 55351-4545
                        </p>
                        <p>
                            E-mail: atendimento@meuhomeoffice.com.br
                        </p>
                        <h3>Envio de formulário</h3>
                        <form class="form-contato" action="https://formsubmit.co/faelalvesoliveira06@gmail.com" method="POST">
                            <input type="hidden" name="_next" value="http://localhost:3000/envioform.ejs">
                            <input type="hidden" name="_cc" value="atendimento@meuhomeoffice.com" />
                            <input type="hidden" name="autoresponse" value="Recebemos sua mensagem, obrigado.
                            Assim que for possível responderemos." />
                            <input type="hidden" name="_captcha" value="false">
                            <input type="text" name="name" placeholder="Nome" />
                            <input type="text" name="subject" placeholder="Assunto" />
                            <input type="email" name="email" placeholder="E-mail" />
                            <textarea name="message" placeholder="Mensagem"></textarea>
                            <button type="submit">Enviar</button>
                        </form>
                    </article>
                    <article>
                        <div id="mapa"></div>
                        <script>
                            function inicializar() {
                                var localizacao = { lat: -22.5415, lng: -47.12312 };

                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 15,
                                    center: coordenadas
                                });

                                var marker = new google.maps.Marker({
                                    position: coordenadas,
                                    map: mapa,
                                    title: 'My marker'
                                });
                            }
                        </script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDycTZaBY94bhGV5h7s3x-jIu7_n2fwTzw&callback=initMap">
                            </script>
                    </article>
                </div>
            </div>
        </section>
    </main>


    <%- include('./partials/footer') %>