<%- include('./partials/header') %>



    <main class="container">
        <section class="banner">
            <div>
                <p>CONTATO </p>
            </div>
        </section>
        <section class="sobre">
            <div>
                <div class="text">
                    <h3>Sed ut perspiciatis unde iste natus error sit voluptatem accusantium doloremque laudantium,
                    </h3>
                    <p>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        vitae
                    </p>
                </div>
            </div>
        </section>
        <section class="servicos">
            <div>
                <h2>Contato</h2>
                <div class="items">
                    <article>
                        <h1>Empresa ABC</h1>
                        <p>
                            Avenida Presidente Carlos, 1164 - Centro, São Paulo
                        </p>
                        <p>
                            Telefone: (11) 55351-4545
                            Telefone Fixo: (11) 55351-4545
                        </p>
                        <p>
                            E-mail: atendimento@abc.com.br
                        </p>
                    </article>
                    <article>
                        <div id="mapa"></div>
                        <script>
                            function inicializar() {
                                var localizacao = { lat: -22.5415, lng: -47.12312 };

                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 15,
                                    center: coordenadas
                                });

                                var marker = new google.maps.Marker({
                                    position: coordenadas,
                                    map: mapa,
                                    title: 'My marker'
                                });
                            }
                        </script>
                        <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
                            </script>
                    </article>
                </div>
            </div>
        </section>
    </main>


    <%- include('./partials/footer') %>